.zoomtool img{
	width:40px;
}
   
/* smaller sidebar for mobiles */
#sidebar {
    width: 300px;
}
/* BUT then also smaller sidebarhide, to show the table */
.sidebarhide {
    left: -310px;
}
#sidebarShowHide{
    right: 1px;
} 

#tools {
	background: transparent;
    position: absolute;
	float:right;
	top:39px;
	left: 10px;
    margin-top: 5px;
	z-index:1000;
	height: 300px;
	width: 70px;
}