* {
    font-family: sans-serif;
}

.selectie-lijst {
    width: 200px;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.border-ng-paars {
    border: 1px solid #842e93;
}

.border-ng-dik {
    border: 2px solid #842e93;
}

.border-ng-lichtpaars {
    border: 1px solid #945b96;
}

.border-round {
    border-radius: 5px;
}

.shadow {
    box-shadow: 0px 2px 5px #777777;
}

.zichtbaar-block {
    display: block !important;
}

.zichtbaar-flex {
    display: flex !important;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-break {
    display: flex;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.spacer {
    width: 1em;
}


.olPopupCloseBox {
    /* some magic to create a bigger (invisible) close button for touch things */
    padding: 23px;
    background-position: center;
    margin: -25px;
}

.olControlScaleLine {
    bottom: 40px;
    z-index: 999 !important;
}


#featurePopup h3 {
    padding-top: 2px;
}

#attrpopuptable td {
    vertical-align: top;
    font-size: 11px;
}

/* #attrpopuptable td.first {
    width:30%;
} */

/* #attrpopuptable td.second {
    word-break: break-all;
} */

/* #featurePopup_contentDiv {
    margin-top:25px;
} */

.olFramedCloudPopupContent {
    font-size: 80%;
    overflow: visible;
}

.olControlLayerSwitcher {
    top: 114px !important;
    min-width: 20em;
}

.layersDiv,
#legend {
    border-radius: 10px;
}

.olControlLayerSwitcher .layersDiv,
/* center of LayerSwitcher */
.olControlLayerSwitcher span,
/* top & bottom of LayerSwitcher */
.olControlOverviewMapElement {
    /* overviewmap */
    background-color: #842e93 !important;
    box-shadow: 0px 2px 5px #777777;
}

.baseLayersDiv {
    padding: 0px;
}

.olControlZoomPanel {
    left: 14px;
    top: 10px;
}

/* disable tile transition animation */
.olLayerGrid .olTileImage {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: all 0 none;
    transition: none;
}

.olControlAttribution {
    bottom: 3em;
    background: transparent;
    padding: 2px;
    opacity: 0.7;
    /*filter: alpha(opacity=70);*/
    z-index: 1000 !important;
    font-weight: bold;
    background-color: #ccc;
    bottom: 24px;
    right: 0;
}

div.olControlAttribution>a {
    color: #842e93;
}

geoviewerpopup_contentDiv {
    font-family: Verdana;
    font-size: .7em;
}

#attrpopuptable {
    width: 100%;
}

.GeodanGeocoder {
    padding: 5px;
    top: 5px;
    left: 60px;
    width: 250px;
    overflow: hidden;
}

/* Animated throbber */
input.form-autocomplete {
    width: 250px;
    background-image: url(../img/throbber.gif);
    background-repeat: no-repeat;
    background-position: 100% 2px;
    padding: 2px;
    margin: 2px;
    z-index: 10000;
}

input.throbbing {
    background-position: 100% -18px;
    /* LTR */
}

#topbar {
    width: 100%;
    background-color: #842e93;
    padding-bottom: 3px;
    min-height: 24px;
    z-index: 1009;
    top: 0px;
    position: fixed;
    box-shadow: 0px 2px 5px #777777;
}

#topbar-element__container {
    position: absolute;
    top: 6px;
    right: 50px;
    color: white;
    font-weight: bold;
    display: flex;
}

#topbar-element__container div {
    margin-left: 1em;
}

#bottombar {
    width: 100%;
    min-height: 25px;
    line-height: 20px;
    background-color: #842e93;
    color: white;
    font-weight: bold;
    font-size: 80%;

    z-index: 1001;
    bottom: 0px;
    position: fixed;
}

div#bottombar a:visited,
div#bottombar a:link {
    color: white;
}

div#bottombar span {
    float: right;
    padding: 0 5px;
}

form {
    display: inline;
}

/* to be able to position mapbuttons */
#map {
    position: relative;
}

#baselayerbuttons {
    position: relative;
    background: transparent;
    /*float: right;
    top: 39px;
    right: 10px;
    z-index: 1000;
    height: 70px;*/
    /*border: red 1px solid;
	/*border:red 1px solid;*/
    /*width:150px; /*for IE, be carefull, if too wide, covering MOR edit buttons, making them unclickable */
}

.baselayerbutton,
#sidebar_content2_head,
.toolbutton {
    cursor: pointer;
}

.baselayerbutton {
    height: 60px;
    width: 75px;
    border: 1px solid #842e93;
    border-radius: 7px;
    float: right;
    padding: 0px 10px;
    margin: 0 5px;
    font-size: 0%;
    box-shadow: 0px 1px 5px #777777;
    box-sizing: border-box;
}

.baselayerbutton.baselayer-active {
    background-color: #945b96;
    border: 2px solid #945b96;
}

#Kaart {
    background-image: url("img/kaartbtn.png") !important;
}

#Kaart:hover {
    background-image: url("img/kaartbtn_hover.svg") !important;

}

#Luchtfoto {
    background-image: url("img/luchtfotobtn.png") !important;
}

#Luchtfoto:hover {
    background-image: url("img/luchtfotobtn_hover.svg") !important;
}

#OSM {
    background-image: url("img/osmbtn.png") !important;
}

#OpenTopo {
    background-image: url("img/opentopobtn.png") !important;
}

#Basiskaart {
    background-image: url("img/basiskaartbtn.png") !important;
}

#Basiskaart:hover {
    background-image: url("img/basiskaartbtn_hover.svg") !important;
}

#BGT {
    background-image: url("img/bgtbtn.png") !important;
}

#BGT_Zwart {
    background-image: url("img/bgtzwartbtn.png") !important;
}

.kaartlaag {
    color: white;
    padding: 4px;
    font-size: 80%;
}

#zoomtools {
    width: 18px;
    height: 36px;
    z-index: 1000;
    position: absolute;
    top: 35px;
    left: 10px;
    line-height: 0.6;
}

.zoomtool img {
    width: 30px;
    height: 30px;
    margin-bottom: .5em;
    cursor: pointer;
}

/* downloadbar IN legend: override some props */
#legend #downloadbar {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 0;
    left: 0;
    position: relative;
    float: none;
}

#legend {
    display: flex;
    flex-direction: column;
    background: none repeat scroll 0 0 white;
    border: 2px solid #842e93;
    padding: 10px;
    bottom: 50px;
    position: absolute;
    right: 10px;
    z-index: 1007;
    max-height: 75%;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0px 2px 5px #777777;
}

#legendhead {
    min-width: 150px;
    width: 100%;
    height: 2em;
    cursor: pointer;
    transition: background-color 0.1s linear;
}


#legendImage {
    padding-top: 10px;
}

#legendShowHide {
    width: 30px;
    height: 17px;
    position: absolute;
    right: 1.5em;
    top: 1.5em;
    z-index: 1;
}

#infobutton {
    padding: 10px;
    top: 23px;
    position: absolute;
    left: 60px;
    z-index: 990;
    max-height: 75%;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

#legendImage>h3 {
    background-color: #f7e3ff !important;
    color: #333;
    filter: alpha(opacity=40);
    /* For IE8 and earlier */
    background: url("img/min.png") no-repeat right;
    /* for IE8 */
    background: url("img/min.png") no-repeat right scroll 0 0 rgba(0, 0, 0, 0);
    padding-left: 4px;
    margin-bottom: 2px;
}

.folded {
    background: url("img/plus.png") no-repeat right !important;
    /* for IE8 */
    background: url("img/plus.png") no-repeat right scroll 0 0 rgba(0, 0, 0, 0) !important;
}

.legendMinimize {
    background: url("img/minimizebuttonup.gif") no-repeat;
    /* for IE8 */
    background: url("img/minimizebuttonup.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-position: center center;
    margin: -5px;
    /* padding: 23px; */
    /*border:1px solid green;*/
}

.legendMaximize {
    background: url("img/minimizebuttondown.gif") no-repeat;
    /* for IE8 */
    background: url("img/minimizebuttondown.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-position: center center;
    margin: -5px;
    /* padding: 23px; */
    /*border:1px solid red;*/
}

#legend h3,
#downloadbar h3 {
    margin-top: 0.5em;
    padding-right: 1.5em;
    font-size: 90%;
}

#downloadbar {
    bottom: 30px;
    display: block;
    float: left;
    left: 120px;
    position: absolute;
    z-index: 1002;
    background: white;
    padding-top: 10px;
}

#downloadbar a img {
    border: 0;
}

html,
body,
#map {
    height: 100%;
    margin: 0;
    width: 100%;
}

body {
    font-size: 80%;
    overflow: hidden;
}

input {
    font-size: 80%;
}

/* .inforow0 {
    background:#F7E3FF
} */

/* .inforow1 {} */

.olControlLoadingPanel {
    background-image: url(../../basisviewer2/img/dataloading.gif);
    position: relative;
    width: 20px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    right: 12px;
}

/* this is the style of the plain text geoserver popup defined in content.ftl */
#gssimplepopup {
    min-width: 350px;
    max-width: 500px;
}

#featurePopup_contentDiv {
    overflow: auto !important;
    overflow-x: hidden;
    overflow-y: auto;
}

/***********/
/* Sidebar */
/***********/

#sidebar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 110px;
    /*25px;*/
    left: -2px;
    width: 400px;
    height: 100%;
    max-width: 90%;
    min-height: 120px;
    max-height: 70vh;
    font-size: 80%;
    padding: 10px;
    margin: 0px;
    background: white;
    box-sizing: border-box;
    z-index: 1008;
    /* let op geocoder result z = 1002 */
    border-radius: 0 10px 10px 0;
    box-shadow: 0px 2px 5px #777777;
    transition: transform 0.1s ease-out;
}

#sidebarShowHide {
    height: 80px;
    position: absolute;
    right: -22px;
    top: 15px;
    width: 20px;
    z-index: 1;
}

.sidebarMinimize {
    background: url("img/minimizebuttonleft.png") no-repeat;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.sidebarMaximize {
    background: url("img/minimizebuttonright.png") no-repeat;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

#sidebar_content {
    padding: 0px 10px 10px 10px;
    background: white;
    min-height: 100px;
}


#sidebar_main_head>h3 {
    padding-left: 5px;
}

#sidebar_main_head {
    height: 5%;
}

#sidebar_main_body {
    height: 95%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#sidebar_content h3,
#sidebar_content2 h3,
.sidebar-filter__container h3 {
    background-color: #F7E3FF !important;
    padding-left: 6px;
    margin-top: 5px;

}

#sidebar_content2_data {
    padding: 10px 5px 0px 6px;
    box-sizing: border-box;
}

#sidebar_content2_head,
.sidebar-filter__container h3 {
    background: url("img/min.png") no-repeat right;
    /* for IE8 */
    background: url("img/min.png") no-repeat right scroll 0 0 rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

.sidebar_content2_hide {
    height: 0px;
    overflow: hidden;
}

.sidebarhide {
    transform: translateX(-100%);
}

/***********/
/* Toolbar */
/***********/


#barContainer {
    display: flex;
    background: transparent;
    position: absolute;
    float: right;
    top: 39px;
    right: 10px;
    margin-left: 5px;
    z-index: 1000;
    height: 70px;
    flex-flow: row-reverse;
    -webkit-flex-flow: row-reverse;
    width: auto;
}



#tools {
    background: transparent;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    /*float:right;
	top:39px;
	right: 194px;
    margin-left: 5px;
	z-index:1000;
	height:70px;
	width:300px;*/
    /*for IE*/
}


.toolbutton {
    background-color: #842e93;
    border: #842e93 1px solid;
    padding: 0px 10px;
    font-size: 0%;
    float: right;
    margin-right: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 40px;
    height: 60px;
    border-radius: 7px;
    background-position: center;
    background-size: 100%;
    box-shadow: 0px 2px 5px #777777;
}

.toolactive {
    background-color: #F1C02A;
    width: 40px;
    height: 60px;
    font-size: 0%;
    border: 1px solid black;
    border-radius: 7px;
}

.toolinactive {
    background-color: #842e93;
    width: 40px;
    height: 60px;
    font-size: 0%;
    border: 1px solid #842e93;
    border-radius: 7px;
}




.save_icon {
    background-image: url("img/save.svg") !important;
    order: 7;
}

.redo_icon {
    background-image: url("img/redo.svg") !important;
    order: 6;
}

.point_icon {
    background-image: url("img/new_point.svg") !important;
    order: 5;
}

.polygon_icon {
    background-image: url("img/new_polygon.svg") !important;
    order: 5;
}

.polyline_icon {
    background-image: url("img/new_polyline.svg") !important;
    order: 5;
}

.circle_icon {
    background-image: url("img/new_circle.svg") !important;
    order: 5;
}

.snapping_icon {
    background-image: url("img/snapping.svg") !important;
    order: 5;
}

.edit_icon {
    background-image: url("img/edit.svg") !important;
    order: 4;
}

.location_icon {
    background-image: url("img/location.svg") !important;
    order: 2;
}

.style_switch_icon {
    background-image: url("img/style_switch.svg") !important;
    order: 1;
}

.download_icon {
    background-image: url("img/download.svg") !important;
    order: 1;
}

.wfs-selector_container {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 0.5em;
    margin-right: 5px;
    background: #842e93;
    border: #842e93 1px solid;
    border-radius: 5px;
    order: 3;
}

#formulier input {
    font-size: 100%;
}

#formulier input[type=button] {

    height: 35px;
}

#formulier input[type=text] {
    width: 60%;
}

#formulier select {
    width: 60%;
}

#formulier input[type=radio] {
    width: 10px;
    vertical-align: middle;
}

#formulier textarea {
    height: 140px;
    width: 75%;
}

#form_img {
    margin-top: 5px;
    max-height: 200px;
}

#formulier .mark {
    color: red;
}

#slider {
    margin-left: 1em;
    margin-right: 1em;
}

/****************/
/* Small screen */
/****************/

@media only screen and (max-height: 450px) {
    #sidebar {
        max-height: 80%;
        max-width: 80vw;

    }

    #bottombar,
    #topbar {
        display: none;
    }

    .info-tab {
        top: -28px !important;
        z-index: 2000 !important;
    }

    #barContainer,
    #zoomtools {
        top: 30px !important;
    }
}

@media only screen and (max-width: 500px) {
    #barContainer {
        top: 55px;
        z-index: 999;
    }

    #sidebar {
        top: 125px;
    }
}

/******************/
/* Viewer buttons */
/******************/

#cycloramas {
    background-image: url("img/360fotobutton.svg") !important;
}

#streetview {
    background-image: url("img/streetviewbutton.svg") !important;
}

#obliques {
    background-image: url("img/obliquebutton.svg") !important;
}


/****************/
/* Context menu */
/****************/


.context-menu__container {
    position: absolute;
    width: auto;
    height: auto;
    background-color: black;
}

.context-menu {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 150px;
    background: white;
    padding: 1em;
}

.context-menu__button {
    width: 100%;
    height: 2em;
    line-height: 2em;
    padding-left: 1em;
    cursor: pointer;
    background-color: white;
}

.context-menu__button:not(.active-baselayer):hover {
    background-color: #ccc;
    transition: background 0.1s linear;
}

.active-baselayer {
    background-color: #ddd;
    cursor: default;
}

.bg-color__container {
    display: flex;
    flex-flow: column;
}

.contex-menu__close {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    width: 1em;
    height: 1em;
    text-align: center;
    line-height: 1em;
    color: #842e93;
    cursor: pointer;
    background-color: white;
}



.ls-filterbutton {
    width: 1em;
    height: 1em;
    background-image: url(img/filterButton.svg);
    background-size: contain;
}

.ls-filterbutton.button-off {
    background-image: url(img/filterButtonGrey.svg);
}

/**********************/
/* Feature info table */
/**********************/

.featureinfo-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    min-width: 40em;
    max-width: 80%;
    height: auto;
    height: 60%;
    background: white;
    padding: 1em;
    overflow: scroll;
    z-index: 1009;
}

.table-group {
    position: absolute;
    top: 3em;
    width: calc(100% - 2em);
    height: 100%;
}

.table-container {
    position: absolute;
    width: 100%;
    min-height: 17em;
    height: auto;
}

.table-container.active {
    display: block;
}

.table-container.inactive {
    display: none;
}

.tab-container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 3em;
}

.table-tab {
    min-width: 6em;
    max-width: 8em;
    height: 2em;
    line-height: 2em;
    margin: 1em 1em 0 1em;
    padding-left: 1em;
    padding-right: 1em;
    color: #ccc;
    background: white;
    white-space: nowrap;
    text-align: center;
    border-radius: 5px 5px 0 0;
    border-left: 2px solid purple;
    border-top: 2px solid purple;
    border-right: 2px solid purple;
    text-overflow: ellipsis;
    overflow: hidden;
}

.table-tab.active {
    color: black;
    z-index: 100;
    max-width: unset;
    font-weight: bold;
}


.featureinfo-table {
    min-width: 100%;
    table-layout: auto;
    border-spacing: 0;
}

.featureinfo-table td {
    min-width: 4em;
    max-width: 12em;
    border: 1px solid #ccc;
    padding-left: 0.5em;
    padding-right: 0.5em;

}

.featureinfo-table th {
    min-width: 4em;
    width: 10em;
    border: 2px solid #eee;
    white-space: nowrap;
    padding-left: 1em;
    padding-right: 1em;
}

.featureinfo-close-button {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    width: 2em;
    height: 2em;
    color: #945b96;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}

/* .featureinfo-close-button:hover {} */
.errorBox-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    width: 40em;
    max-width: 90%;
    border-width: 2px;
    z-index: 1000;
    padding-bottom: 23px;
    border-radius: 5px;
}

.errorBox-head {
    display: flex;
    width: 100%;
    height: 3em;
    border-bottom: 1px solid #842e93;
}

.errorBox-close {
    display: flex;
    width: 10%;
    height: 3em;
    align-items: center;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.errorBox-close:hover {
    background: #945b96;
    color: white;
}

.errorBox-head__text {
    display: flex;
    width: 90%;
    height: 3em;
    align-items: center;
    font-weight: bold;
}

.errorBox-head__text span {
    margin-left: 1em;
}

.errorBox-close span {
    width: 100%;
}

.layer-header {
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid #945b96;
}

.layer-header summary {
    height: 2em;
    cursor: pointer;
}

.layer-header summary:hover {
    background: #945b96;
    color: white;
}

.layer-header * {
    padding-left: 1em;
}